.contacts {
  &__grid {
    @include page-grid;
  }

  &__form-wrapper {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__info-wrapper {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;

    width: 280px;
    height: 48px;

    background-color: #f8f8fa;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #f8f8fa;

    padding: 16px 8px;

    @include on-tablet {
      width: 600px;
    }

    @include on-desktop {
      width: 411px;
    }

    @include hover(transform, scale(1.05));

      &:hover {
        border: 1px solid #d5d7de;
      }

    &:active {
      border: 1px solid $main-text-color;
    }

    &::placeholder {
      color: #7e7e83;
    }
  }

  &__textarea {
    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;

    width: 280px;
    height: 148px;
    margin-bottom: 32px;
    padding: 16px 8px;

    background-color: #f8f8fa;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #f8f8fa;

    resize: none;

    @include on-tablet {
      width: 600px;
    }

    @include on-desktop {
      width: 411px;
    }

    @include hover(transform, scale(1.05));
  }

  &__button {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 56px;
    text-decoration: none;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 48px;
    cursor: pointer;

    background-color: $main-text-color;
    color: $active-color;

    @include on-tablet {
      width: 600px;
      margin-bottom: 80px;
    }

    @include on-desktop {
      width: 411px;
      margin-bottom: 0;
    }
  }

  &__button:hover {
    color: $main-text-color;
    background-color: #f8f8fa;
    border: 2px solid #f0f1f4;
  }

  &__button:active {
    color: $active-color;
    background-color: #111;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__info-title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin: 0;
    margin-bottom: 8px;

    color: #9393a3;
  }

  &__info-title-link {
    text-decoration: none;

    cursor: pointer;

    color: #9393a3;
  }

  &__info-text {
    margin: 0;
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-decoration: none;

    color: #191919;
  }
}
